* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #fae3ea34 !important;
    display: grid;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 5vmin;
    place-items: center;
}

.items {
    height: 400px;
    /* background-color: red; */
    border-radius: 15px;
}

.payment-main {
    background-color: #fbf6f7 !important;
    background-image: linear-gradient(to bottom, #fbf6f7, #fff) !important;
    border-radius: 2em !important;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625) !important;
    border-radius: 15px !important;
    padding: 30px 25px;
}

.payment-form{
    padding: 1em;
}

.card {
    border-radius: 1em !important;
    background-color: #fc8080 !important;
    color: #fff !important;
    padding: 1em !important;
}

address {
    font-style: normal;
    margin-bottom: 0% !important;
    font-size: 16px;
    font-weight: 600;
}

.address{
    margin-bottom: 28px;
}

h4 {
    font-size: 18px !important;
    font-family: inherit;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.form-check{
    position: relative;
    padding: 10px;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 1em rgb(0 0 0 / 6%);
    box-shadow: 0 0 1em rgb(0 0 0 / 6%);
    background-color: #fefdfe;
    margin: 10px 0;
}


.form-check-input{
    position: absolute;
    right: 25px;
}

.form-check-label .fab{
    padding-right: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 1.2em !important;
}

tbody {
    color: #b4b4b4;
}

td {
    padding-bottom: 0.125em;
    padding-top: 0.125em;
}

tfoot {
    border-top: 1px solid #b4b4b4 !important;
    font-weight: 600;
}

.btn{
    width: 75%;
    border-radius: 2999em !important;
    opacity: 0.86;
    background-color: #fc8080 !important;
    border: none !important;
    height: 2.6em;
}

.button:hover{
    opacity: 1 !important;
    transform: scale(1.1) !important;
    transition: all 400ms ease-in-out !important;
}