*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.nav-head2 li{
    display: inline-block;
    margin: 0px 6px;
}

.top-head{
    background-color: #F0F0E9;
}

.nav-head2, .nav-head1{
    margin-top: 2px;
}