.items {
    height: 400px;
    /* background-color: red; */
    border-radius: 15px;
}

.payment-main {
    background-color: #fbf6f7 !important;
    background-image: linear-gradient(to bottom, #fbf6f7, #fff) !important;
    border-radius: 2em !important;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625) !important;
    border-radius: 15px !important;
    padding: 30px 25px;
    margin-bottom: 30px;
}

.payment-form{
    padding: 1em;
}

.payment-main .card {
    border-radius: 1em !important;
    background-color: #fc8080 !important;
    color: #fff !important;
    padding: 1em !important;
}

.payment-main address {
    font-style: normal;
    margin-bottom: 0% !important;
    font-size: 16px;
    font-weight: 600;
}

.payment-main .address{
    margin-bottom: 28px;
}

.payment-main  h4 {
    font-size: 18px !important;
    font-family: inherit;
}

.payment-main  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.payment-main .form-check{
    position: relative;
    padding: 10px;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 1em rgb(0 0 0 / 6%);
    box-shadow: 0 0 1em rgb(0 0 0 / 6%);
    background-color: #fefdfe;
    margin: 10px 0;
}


.payment-main .form-check-input{
    position: absolute;
    right: 25px;
}

.payment-main  .form-check-label .fab{
    padding-right: 5px;
}

.payment-main table {
    border-collapse: collapse;
    width: 100%;
    padding: 1.2em !important;
}

.payment-main tbody {
    color: #b4b4b4;
}

.payment-main td {
    padding-bottom: 0.125em;
    padding-top: 0.125em;
}

.payment-main tfoot {
    border-top: 1px solid #b4b4b4 !important;
    font-weight: 600;
}

.payment-main .btn{
    width: 75%;
    border-radius: 2999em !important;
    opacity: 0.86;
    background-color: #fc8080 !important;
    border: none !important;
    height: 2.6em;
}

.payment-main .button:hover{
    opacity: 1 !important;
    transform: scale(1.1) !important;
    transition: all 400ms ease-in-out !important;
}