@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #fae3ea34;
    font-family: 'Roboto', sans-serif;
}

.main .row{
    margin-top: 40px;
    padding: 16px;
}


.slider{
    height: 440px;
    overflow: auto;
    display: block;
    border-radius: 1em ;
    box-shadow: 0 0 1em rgba(158, 212, 216, 0.212) ;

}

/**************************************************************************************************/
/******************************************** Left section of page ********************************/
/**************************************************************************************************/

/****************** Scrollbar */
.scrollbar
{   display: grid !important;
	float: left;
	background: #F5F5F5;
    padding-left: 10px;
}

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #326ba0;	
}


/****************** Scrollbar */


.slider img{
    height: 64px;
}

.slider li{
    list-style: none;
    padding: 4px 0px;
}

.slider li:hover{
    transform: scale(0.96);
	border: 1px solid blueviolet;
}

.main-img img{
    padding: 15px;
    max-height: 410px;
    max-width: 410px;
    margin-left: 10px;
    box-shadow: 2px 1px 1em rgba(158, 212, 216, 0.212) ;
    border: 2px black;
}


.button-list{
    display: flex;
}

.button-list li{
    list-style: none;
    padding: 0px 20px;
}

.button-list li i{
    margin-right: 4px;
}

.button-list button{
    padding: 18px 8px;
    border-radius: 7px;
    box-shadow: 2px 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    background: #4991f0c7;
    color: #ffffff;
    width: 133px;
    font-family: ui-rounded;
}

.button-list button:hover{
    transform: translate(-4px, 2px);
    transition: all 400ms ease-in;
}

.button-list{
    padding: 15px;
    padding-left: 30px;
}

/****************************************************************************************************/
/******************************************** Right section of page ********************************/
/**************************************************************************************************/

.badge{
    background-color: #198754;
    font-weight: 600 !important;
    line-height: 2 !important;
}

.text-muted {
    margin-left: 12px;
    font-weight: 500;
    font-size: 14px;
}

.product-title h5{
    line-height: 2;
    font-size: inherit;
    font-weight: 500;
}

.price-main{
    font-size: 28px;
    font-weight: 500;
    color: #212121;
}

.price-silent{
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 13px !important;
    margin-right: 13px !important;
}

.off-percentage{
    color: green;
    font-weight: 500;
}

.bank-offer-head{
    font-weight: 500;
    font-size: 16px;
}

.offer{
    padding-left: 0;
}

.offer li{
    list-style: none;
}

.offer .heading{
    font-weight: 500;
    margin-left: 7px;
}

.offer .description{
    font-size: 13px;
    font-weight: 500;
    margin: auto 7px;
}

.offer a{
    text-decoration: none !important;
    font-weight: 500;
    font-size: 13px;
}

.special-warranty li{
    list-style: none;
}

.special-warranty span{
    padding: 0px 3px;
    font-size: 13px;
    margin-left: 7px;
    font-weight: 500;
}

.warranty{
    display: flex;
}

.fa-tags:before {
    color: green;
}

.fa-repeat-alt:before, .fa-badge-check:before, .fa-usd-circle:before, .fa-calendar-check:before {
    color: blue;
}


.description_{
    display: flex;
    padding-left: 0;
}

.highlight{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}

.highlight::marker{
    color: green;
}

.modal-header{
    padding-left: 0px !important;
}

.modal-body{
    padding-left: 0 !important; 
    padding-right: 0 !important;
}