@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


/* ***************************************************************** */
/********************* Main header started ***************************/
/********************* Main Navbar started ***************************/
/* ***************************************************************** */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.fa{
    color: #696763;
}

body{
    font-family: 'Roboto', sans-serif;
}

body a{
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 0px 6px;
}

.top-head{
    background-color: #F0F0E9;
}

.nav-head2, .nav-head1{
    margin-top: 2px;
}

.nav-head1 a{
    color: #696763;
    font-size: 13px;
}

.logo{
    height: 100px;
}

.links{
    background-color: blue;
}

.navbar-links a{
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

li a{
    margin: auto 10px;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;

}

.border{
    margin-top: -10px;
    border-bottom: 0.5px black;
}

/* ***************************************************************** */
/****************** Slider images starts here ************************/
/* ***************************************************************** */
#slider {
    /* padding-bottom: 45px; */
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}

.slider{
    height: 200px;
}

.fa-lg{
    font-size: 40px !important;
    font-weight: 700  !important;
    color: blue;
}

.carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #C4C4BE !important ;
    z-index: 15 !important;
}

.carousel-indicators li.active{
    background-color: #FE980F !important;
}

.girl {
    position: absolute;
    top: -30%;
    left: 50%;
    border: none;
    width: 460px;
    z-index: -45;
}

.carousel-item{
    margin-right: 0px !important;
}

.carousel-inner{
    height: 400px;
}

.carousel-indicators{
    top: 70%;
}

.icon .fa-angle-left{
    position: relative;
    top: -23%;
    left: -22%;
}

.icon .fa-angle-right{
    position: relative;
    top: -23%;
    right: -20%;
}


.carousel-item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 50px;
}

.carousel-item h1 span {
    color: #FE980F;
}

.carousel-item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.carousel-item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
}

/* ***************************************************************** */
/*********************** Lines draw across heading *******************/
/* ***************************************************************** */

.lines{
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    /* border: 1px solid #f5f5f5; */
}

.lines:before,
.lines:after {
    content: '';
    border-top: 2px solid;
}


/* ***************************************************************** */
/********************** Main Feature product listing *****************/
/* ***************************************************************** */

.title{
    color: #FE980F;
    font-family: abel;
    margin-bottom: 20px;
}

.product-card{
    padding: 10px 7px;
}

.productinfo .product-img{
    height: 180px;
    max-width: 250px;
}

.productinfo .label{
    height: 50px;
    position: absolute;
    top: 0%;
    left: 79%;
}

.single-products{
    position: relative;
    border: 2px solid #F7F7F5;
    box-shadow: 4px 2px 3px #d1eff5;
}

.add-to-cart{
    position: relative !important;
    left: 20% !important;
    background: #F5F5ED !important;
    border: 0 none !important;
    border-radius: 0 !important;
    color: #b9b6b0 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    margin-bottom: 15px !important;
}

.fa-shopping-cart, .fa-plus-square{
    margin-right: 7px;
}

.product-overlay{
    padding: 20px 15px;
}

.overlay-content{
    margin-bottom: 10px;
}

.overlay-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.overlay-content a{
    background-color: #e2dfd8;
}

.overlay-content h3{
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.nav-pills li a{
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 9px;
    padding-right: 0;
}


/* ***************************************************************** */
/******************* Category of products ****************************/
/* ***************************************************************** */

.category{
    border: 1px solid #F7F7F5;
    padding: 10px;
}

.category-head{
    display: flex;
    place-content: space-between;
}

.collapse ol{
    list-style: none;
    text-decoration: none;
}

.category-head p{
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.category-head i{
    padding: 4px;
}

.panel-body li{
    list-style: none;
}

.panel-body a{
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.panel-body{
    margin-bottom: 7px;
    margin-top: -8px;
}


/* ***************************************************************** */
/********************** Brand of products ****************************/
/* ***************************************************************** */

.brand-head{
    margin-top: 25px;
}

.brand{
    border: 1px solid #F7F7F5;
    padding: 10px 17px;
}

.brand li{
    list-style: none;
    margin-bottom: 4px;
}

.brand li a{
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

/* ***************************************************************** */
/*********************  Pagination and Scroll of product  ************/
/* ***************************************************************** */

.recommend{
    margin: 25px auto;
}

.recommend-box .carousel-control-prev{
    position: absolute;
    left: 2%;
}

.recommend-box .carousel-control-next{
    position: absolute;
    right: -4%;
}

.disabled{
    pointer-events: none;
}

.disabled a{
    color: gray;
}

.recommend-box{
    position: relative;
}

.active-bar{
    background-color: rgba(0, 225, 255, 0.363);
}

.active-bar a{
    color: black;
    transform: scale(1.1);
}

/* ****************************************************************** */
/********************** Footer section ********************************/
/* ****************************************************************** */

#footer{
    background-color: #F5F5ED;
    padding: 100px 30px;
}

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 22px;
    margin-left: 19px;
}

.nav{
    display: grid !important;
}

.single-widget .nav{
    list-style: none;
}

.single-products .nav-pills{
    display: flex  !important;
    margin-left: 5px;
}

.single-products li{
    background-color: #eeebe4;
    padding: 4px 2px;
    border-radius: 3px;
}

.single-products li:hover, .add-to-cart:hover{
    transform: scale(1.1);
    transition: all 340ms ease-in-out;
}

.single-products li a{
    margin-left: 4px;
}

.single-widget .nav li{
    font-size: 16px;
    display: list-item;
    margin: 3px 0px;
}

.single-widget .searchform{
    margin-left: 19px;
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.single-widget .searchform input{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    border-radius: 5px;
}

.searchform .btn{
    padding: 10px;
}

.copyright{
    padding: 50px 30px;
}

.copyright p{
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
